html {
  scroll-behavior: smooth;
}

body {
	/*background-color: rgb(25,25,25);*/
	background-color: #31434b;  /*#476b7c*/
	color: rgba(255,255,255,.75);
}

/*General*/
.homeSection, .experienceSection, .interestsSection {
	min-height: 100vh;
}

.experienceSection {
	padding: 4em;
}

.interestsSection {
	padding: 0 4em;
}

.sectionTitle {
	text-align: center;
	font-size: 4vw;
}

.description {
	font-size: 2vw;
}

/*Navigation*/
nav {
	background-color: #81bad6;
	padding: 0 2em;
}

nav .sidenav-trigger {
	margin: 0 0;
	float: right;
}

.sidenav {
	background-color: #e0e0e0;
}

.logoIconWrapper {
	height: 100%;
	display: flex;
    justify-content: center;
	align-items: center;
}

.logoIcon {
	display: block;
	height: 75%;
}

/*Home section*/
.homeSection {
	background-image: url("./images/coverPhoto.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
}

.titleText {
	width: 6em;
	margin: 0 auto;
	border-right: 2px solid rgba(255,255,255, 0.75);
	font-size: 10vw;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

.animation {
	animation: typewriter 4s steps(44) 1s 1 normal both,
			   blinkTextCursor 500ms steps(44) infinite normal;

}

@keyframes typewriter{
	from {width: 0;}
	to {width: 6em;}
}

@keyframes blinkTextCursor{
	from{border-right-color: rgba(255,255,255, 0.75);}
	to{border-right-color: transparent;}
}

.scroll-down {
	position: absolute;
	top: 89%;
	left: 49%;
	bottom: 53%;
	font-size: 5vw;
	color: rgba(255,255,255,.75);
}

/*Experience section*/
.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portrait {
	max-width: 80%;
	border: 5px solid white;
	border-radius: 25%;
}

.portrait-mobile {
	max-width: 50%;
	border: 5px solid white;
	border-radius: 25%;

}

.experienceDescription {
	text-align: justify;
}

.skillsList {
	text-align: center;
}

/*Interests*/
.interestsDescription {
	text-align: center;
	padding-bottom: 0.5em;
}

.carousel {
	height: 200px;
}

.carouselFood {
	height: 260px;
}

/*Footer*/
.page-footer {
	padding: 0;
	background-color: #81bad6;
}

.container {
	width: 100%;
	padding: 0 2em;
}